USE [TestSector]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22.05.2019 9:27:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 22.05.2019 9:27:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Answer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 22.05.2019 9:27:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CorrectAnswer_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Question] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionAnswer]    Script Date: 22.05.2019 9:27:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionAnswer](
	[Question_Id] [int] NOT NULL,
	[Answer_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QuestionAnswer] PRIMARY KEY CLUSTERED 
(
	[Question_Id] ASC,
	[Answer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 22.05.2019 9:27:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Test] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestingAct]    Script Date: 22.05.2019 9:27:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestingAct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[UserEmail] [nvarchar](max) NULL,
	[IsFinished] [bit] NOT NULL,
	[Score] [int] NOT NULL,
	[Percentage] [float] NOT NULL,
	[CurrentQuestion_Id] [int] NULL,
	[Test_Id] [int] NULL,
 CONSTRAINT [PK_dbo.TestingAct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestQuestion]    Script Date: 22.05.2019 9:27:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestQuestion](
	[Test_Id] [int] NOT NULL,
	[Question_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TestQuestion] PRIMARY KEY CLUSTERED 
(
	[Test_Id] ASC,
	[Question_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAnswer]    Script Date: 22.05.2019 9:27:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAnswer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Answer_Id] [int] NULL,
	[Question_Id] [int] NULL,
	[TestingActId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserAnswer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([Id], [Description]) VALUES (1, N'Алматы')
INSERT [dbo].[Answer] ([Id], [Description]) VALUES (2, N'Нур-Султан')
INSERT [dbo].[Answer] ([Id], [Description]) VALUES (3, N'Караганда')
SET IDENTITY_INSERT [dbo].[Answer] OFF
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([Id], [Description], [CorrectAnswer_Id]) VALUES (1, N'Столица Казахстана', 2)
INSERT [dbo].[Question] ([Id], [Description], [CorrectAnswer_Id]) VALUES (2, N'Областной центр Акмолинской области', 4)
INSERT [dbo].[Question] ([Id], [Description], [CorrectAnswer_Id]) VALUES (3, N'Государственный праздник 30 августа', 7)
SET IDENTITY_INSERT [dbo].[Question] OFF
INSERT [dbo].[QuestionAnswer] ([Question_Id], [Answer_Id]) VALUES (1, 1)
INSERT [dbo].[QuestionAnswer] ([Question_Id], [Answer_Id]) VALUES (1, 2)
INSERT [dbo].[QuestionAnswer] ([Question_Id], [Answer_Id]) VALUES (2, 2)
SET IDENTITY_INSERT [dbo].[Test] ON 

INSERT [dbo].[Test] ([Id], [Description]) VALUES (1, N'Казахстан')
SET IDENTITY_INSERT [dbo].[Test] OFF
SET IDENTITY_INSERT [dbo].[TestingAct] ON 

INSERT [dbo].[TestingAct] ([Id], [UserName], [UserEmail], [IsFinished], [Score], [Percentage], [CurrentQuestion_Id], [Test_Id]) VALUES (25, N'dd', N'natalyaplestsova@gmail.com', 1, 1, 20, NULL, 1)
INSERT [dbo].[TestingAct] ([Id], [UserName], [UserEmail], [IsFinished], [Score], [Percentage], [CurrentQuestion_Id], [Test_Id]) VALUES (26, N'dd', N'natalyaplestsova@gmail.com', 0, 3, 60, 5, 1)
SET IDENTITY_INSERT [dbo].[TestingAct] OFF
INSERT [dbo].[TestQuestion] ([Test_Id], [Question_Id]) VALUES (1, 1)
INSERT [dbo].[TestQuestion] ([Test_Id], [Question_Id]) VALUES (1, 2)
INSERT [dbo].[TestQuestion] ([Test_Id], [Question_Id]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[UserAnswer] ON 

INSERT [dbo].[UserAnswer] ([Id], [Answer_Id], [Question_Id], [TestingActId]) VALUES (55, 4, 1, 25)
INSERT [dbo].[UserAnswer] ([Id], [Answer_Id], [Question_Id], [TestingActId]) VALUES (56, 5, 2, 25)
INSERT [dbo].[UserAnswer] ([Id], [Answer_Id], [Question_Id], [TestingActId]) VALUES (57, 9, 3, 25)
SET IDENTITY_INSERT [dbo].[UserAnswer] OFF
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Question_dbo.Answer_CorrectAnswer_Id] FOREIGN KEY([CorrectAnswer_Id])
REFERENCES [dbo].[Answer] ([Id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_dbo.Question_dbo.Answer_CorrectAnswer_Id]
GO
ALTER TABLE [dbo].[QuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionAnswer_dbo.Answer_Answer_Id] FOREIGN KEY([Answer_Id])
REFERENCES [dbo].[Answer] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionAnswer] CHECK CONSTRAINT [FK_dbo.QuestionAnswer_dbo.Answer_Answer_Id]
GO
ALTER TABLE [dbo].[QuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionAnswer_dbo.Question_Question_Id] FOREIGN KEY([Question_Id])
REFERENCES [dbo].[Question] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionAnswer] CHECK CONSTRAINT [FK_dbo.QuestionAnswer_dbo.Question_Question_Id]
GO
ALTER TABLE [dbo].[TestingAct]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestingAct_dbo.Question_CurrentQuestion_Id] FOREIGN KEY([CurrentQuestion_Id])
REFERENCES [dbo].[Question] ([Id])
GO
ALTER TABLE [dbo].[TestingAct] CHECK CONSTRAINT [FK_dbo.TestingAct_dbo.Question_CurrentQuestion_Id]
GO
ALTER TABLE [dbo].[TestingAct]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestingAct_dbo.Test_Test_Id] FOREIGN KEY([Test_Id])
REFERENCES [dbo].[Test] ([Id])
GO
ALTER TABLE [dbo].[TestingAct] CHECK CONSTRAINT [FK_dbo.TestingAct_dbo.Test_Test_Id]
GO
ALTER TABLE [dbo].[TestQuestion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestQuestion_dbo.Question_Question_Id] FOREIGN KEY([Question_Id])
REFERENCES [dbo].[Question] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestQuestion] CHECK CONSTRAINT [FK_dbo.TestQuestion_dbo.Question_Question_Id]
GO
ALTER TABLE [dbo].[TestQuestion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestQuestion_dbo.Test_Test_Id] FOREIGN KEY([Test_Id])
REFERENCES [dbo].[Test] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestQuestion] CHECK CONSTRAINT [FK_dbo.TestQuestion_dbo.Test_Test_Id]
GO
ALTER TABLE [dbo].[UserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAnswer_dbo.Answer_Answer_Id] FOREIGN KEY([Answer_Id])
REFERENCES [dbo].[Answer] ([Id])
GO
ALTER TABLE [dbo].[UserAnswer] CHECK CONSTRAINT [FK_dbo.UserAnswer_dbo.Answer_Answer_Id]
GO
ALTER TABLE [dbo].[UserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAnswer_dbo.Question_Question_Id] FOREIGN KEY([Question_Id])
REFERENCES [dbo].[Question] ([Id])
GO
ALTER TABLE [dbo].[UserAnswer] CHECK CONSTRAINT [FK_dbo.UserAnswer_dbo.Question_Question_Id]
GO
ALTER TABLE [dbo].[UserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAnswer_dbo.TestingAct_TestingActId] FOREIGN KEY([TestingActId])
REFERENCES [dbo].[TestingAct] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAnswer] CHECK CONSTRAINT [FK_dbo.UserAnswer_dbo.TestingAct_TestingActId]
GO
